{% extends "base.html" %}
{% block body %}


<style type="text/css">

.topnav{

	background-color: #64FFDA;

}

.btn{

	box-shadow: 7px 6px 20px #999999;
	margin: 1%;
}

footer{

	background-color: #64FFDA;
}

.hidden { display: none; }

.start {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(../images/party.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;


}

</style>


<div class="start">
	
</div>


<div class = "container-fluid design hidden">
	<div class = "container-fluid clearfix">
		<div class = "container-fluid profilePhoto">

			<img src= "../images/guy.jpg" class="img-circle" alt="profile photo" width="200" height="200">

		</div>
		<div class = "table-responsive stats">
			<table class = "table" style="width:100%">
				<tr>
					<td><h1 class = "stat-text" >Parties Planned</h1></td>
					<td><h1 class = "stat-text" >Likes</h1></td>
					<td><h1 class = "stat-text" >People Attended</h1></td>
				</tr>
			</table>
			<br><br><br><br>

		</div>
	</div>


	<div class = "section">

		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br><br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
		<br>


	</div>

	<div class = "section">
		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
		<br>
		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
		<br>
		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
	</div>

	<div class = "section">

		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
		<br>
		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
		<br>
		<div class = "tile">
			<div class = "tile_photo">
				here is where the flyer or what ever the person wants to put there
			</div>
			<div class = "tile_info">
				here where the info of the event will be placed
				<br>
				<br>
				<br>
				<br><br>
			</div>
			<div class="form-group">
      			<textarea class="form-control" placeholder = "Comment" rows="1" id="comment"></textarea>
    		</div>
		</div>
		<br>

	</div>

	<div class = "socialbar">
		<br>
		<a href="https://twitter.com/?lang=en" target="blank"><img src="../images/twitter.png"></a><br>
		<a href="https://youtube.com" target = "blank"><img src="../images/youtube.png"></a><br>
		<a href="https://facebook.com" target = "blank"><img src="../images/facebook.png"></a><br>
		<a href="https://instagram.com" target = "blank"><img src="../images/instagram.gif"></a><br>

	</div>
</div>



{% endblock %}
